*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login{
    width: 320px;
    height: 450px;
    border: 1px solid #000;
    background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

.login .form {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
}

.login .form h2 {
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
}

.login .form input{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 3);
    border: 1px solid rgba(255, 255, 255, .2);
    padding: 0 15px;
    color: #FFF;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 5px rgb(255, 255, 255, 0.2);
}

.login .form input:focus{
    border: 1px solid rgba(255, 255, 255, .9);
    outline: none;
    background: rgba(255, 255, 255, .4);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder{
    color: #EEE;
    font-size: 14px;
}

.login .form input.submit{
    background: rgba(255, 255, 255, 1);
    color: #000;
    font-size: 16px;
    margin: 35px auto 0;
    font-weight: bold;
    cursor: pointer;
    max-width: 200px;
    display: block;
    transition: background 0.3s ease-in-out, 
    transform 0.2s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); 
}

.login .form input.submit:hover{
    background: #FFD700;
    color: #000;
    transform: scale(1.05);
}